<!-- Portfolio Grid Section -->
    <section id="technology">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Our Technology</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                </div>
               <div class="row">
                    <img src="img/problem_solution.png" style = "width: 1150px; height 300px;">
                    <div class="col-lg-6">
                        <p>Electroporation is the standard tool used to insert genetic and other materials into cells. However, electroporation has several inherent problems and limitations that have no obvious technical solution. If these limitations could be overcome,the progress of genetic research and drug delivery could be radically accelerated.It would also be very attractive to apply this technique directly <i>in vivo</i>,since electroporation requires painful and invasive electrodes to be inserted directly into the patient for medical applications.</p>
                    </div>
                    <div class="col-lg-6">
                        <p>Sigma's patent-pending Magnetoporation device overcomes the limitations of electroporation by using magnetic fields instead of direct electrical contacts; much like wireless inductive charging devices do for your cell phone or Sonicare. Magnetoporation removes the inherent limitations of electroporation such as, arcing, low efficiency, poor current distribution, contamination, regulatory barriers, cell death, and process scale limitations. For <i>in vivo</i> applications, it is completely non-invasive and does not require painful electrodes.</p>
                    </div>
                </div>

            </div>
        </div>
    </section>
